name: Build on PR

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.15.0'
      
      - name: Install Dependencies
        run: npm install
        
      # build to check dependencies and code integrity
      - name: Run Build
        run: npm run build

      # test endpoint to check if server is running properly
      - name: Start Server
        run: |
          npm run start &
          sleep 5

      - name: Check Health Endpoint
        run: |
          curl -f http://localhost:5002/ | grep -q '"signal":"green"'
      
      - name: Stop Server
        run: pkill node